html, body {
  margin: 0;
  height: 100%;
  background-color: #e6e6e6;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

path {
  stroke:rgb(255, 255, 255);
  stroke-width: 3.5px;
}

.flex-container {
  display: flex;
}

h2 {
  color: #55007f;
  font-family: verdana;
  font-size: 100%;
}

.node {
  fill: #55007f;
  stroke: none;
}

.link {
  fill: none;
  stroke: #6698FF;
  /* set line color to sky blue */
	
  stroke-width: 2px;
}
